<!DOCTYPE html>
<html lang="en" ng-app="auctionbase">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>CS145 AuctionBase</title>

		<script src="assets/js/jquery.js"></script>
		<script src="assets/js/angular.min.js"></script>
		<script src="assets/js/angular-resource.js"></script>
		<script src="assets/js/angular-cookies.js"></script>
		<script src="assets/js/modernizr.custom.28468.js"></script>
		<script src="assets/js/jquery.cslider.js"></script>
		<script src="assets/js/bootstrap.js"></script>
    	<script src="https://www.google.com/jsapi"></script>
		<script src="assets/js/init.js"></script>

		<script src="app/modules.js"></script>
		<script src="app/app.js"></script>
		<script src="app/controllers.js"></script>

		<link href="assets/css/main.css" rel="stylesheet">
		<link href="assets/css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="assets/css/daslider.css" rel="stylesheet">
	</head>
	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="span4">
						<a href="#/"><img src="assets/img/auctionbase_logo.png" border="0" /></a>
					</div>
					<div class="span8">
						<div class="hidden-phone navbar">
							<div class="navbar_inner">
								<ul class="nav">
									<li id="navbar_home" class="navbar_active"><a href="#">Home</a></li>
									<li id="navbar_users"><a href="#/user">Users</a></li>
									<li id="navbar_items"><a href="#/item">Items</a></li>
									<li id="navbar_categories"><a href="#/category">Categories</a></li>
									<li id="navbar_login"><a href="#/login">Login</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div class="visible-phone container">
			<div class="row">
				<div class="span12">
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#/user">Users</a></li>
							<li><a href="#/item">Items</a></li>
							<li><a href="#/category">Categories</a></li>
							<li><a href="#/login">Login</a></li>
						</ul>
				</div>
			</div>
		</div>

		<div ng-view></div>

		<div class="footer" ng-controller="CurrentTimeController">
			<div class="current_time">
				<form class="form-inline">
					<div id="changetime_control" class="control-group">
						Current Time: 
						<input ng-model="current_time.time" type="text" class="span3" placeholder="YYYY-MM-DD HH:MM:SS">
						<button ng-click="update()" class="btn">Change</button>
					</div>
				</form>
			</div>
			<div class="credits">This is a website for the Fall 2012 version of Stanford <a target="_new" href="http://cs145.stanford.edu/">CS145</a> built by <a target="_new" href="http://www.stanford.edu/~frankchn">Frank Chen</a>. Built with PHP, SQLite, Bootstrap and AngularJS. <a href="#readme">Click here for README / Instructions / Credits</a>.</div>
		</div>
	</body>
</html>