<div class="banner-slider hidden-phone">
	<div id="da-slider" class="da-slider">
		<div class="da-slide">
			<h2>Welcome to AuctionBase!</h2>
			<p>This is AuctionBase, a project for Stanford's Introduction to Databases class.</p>
			<div class="da-img">
				<img src="assets/img/1.png" />
			</div>
		</div>

		<div class="da-slide">
			<h2>Collectibles</h2>
			<p>Check out some of our most exquisite collectible pieces in the new Collectibles category.</p>
			<div class="da-img">
				<img src="assets/img/2.png" />
			</div>
		</div>

		<div class="da-slide">
			<h2>Clothing &amp; Accessories</h2>
			<p>Want a new look for the holiday season? Visit our Clothing &amp; Accessories section today!</p>
			<div class="da-img">
				<img src="assets/img/3.png" />
			</div>
		</div>

		<nav class="da-arrows">
		<span class="da-arrows-prev"></span>
		<span class="da-arrows-next"></span>
		</nav>
	</div>
</div>

<script type="text/javascript">

$('#da-slider').cslider({
    current     : 0,    	     
    bgincrement : 50,   
    autoplay    : true,     
    interval    : 4000
});

</script>

<div style="clear:both" class="container">
	<div class="row">
		<div ng-controller="FeaturedCategoriesController" class="span3">
			<h3>Popular Categories</h3>
			<div ng-repeat="category in categories" class="category">
				<div class="category_tiles">
					<div class="category_title"><a href="#/category/{{category.CategoryID}}">{{category.CategoryName}}</a></div>
					<div class="category_item_count">{{category.NumberOfItems}} items</div>
				</div>
			</div>
		</div>
		<div ng-controller="EndingSoonController" class="span9">
			<h3>Auctions Ending Soon!</h3>
			<div class="row">
				<div ng-repeat="item in items" class="span3">
					<div class="es_box">
						<div class="es_title">
							<strong>{{item.Name}}</strong>
						</div>
						<div class="es_price">
							Currently ${{item.CurrentPrice}}
						</div>
						<div class="es_ending">
							Closing in {{item.Ending}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>