<div ng-controller="LoginController" style="clear:both" class="container">
	<div class="row">
		<div class="span6">
			<div id="logincontainer">
				<h3>Login</h3>
				<div style="margin-bottom:15px;">{{current_status}}</div>
				<p>You can login to Auctionbase as any existing user. The password is the same as the username.</p>
				<form ng-submit="login()">
					<div id="loginerror" class="hide alert alert-error">
						<strong>Wrong Username/Password:</strong> You have entered a wrong username and password combination. Please check your username and password and try again.
					</div>
					<div id="logincontrol" class="control-group">
						<div>
							<input ng-model="username" type="text" placeholder="Username" name="username" id="username">
							<input ng-model="password" type="password" placeholder="Password" name="password" id="password">
						</div>
						<div>
							<button ng-click="login()" class="btn">Login</button>
						</div>
					</div>
				</form>
			</div>
			<div id="loginsuccess" class="hide">
				<h3>Login</h3>
				<p>Congratulations! You have logged into our system successfully.</p>
			</div>
		</div>
		<div class="span6">
			<h3>Registration</h3>
			<p>You can register as a new user in the database.</p>
			<div id="registererror" class="hide registerbox alert alert-error">
				<strong>UserID exists</strong> There is already a user with this UserID or this UserID is invalid. Please choose another one and try again.
			</div>
			<div id="registersuccess" class="hide registerbox alert alert-success">
				<strong>Success</strong> Your registration is successful. Try logging in.
			</div>
			<form ng-submit="register()" class="form-horizontal">
				<div class="control-group">
					<label class="control-label">UserID</label>
					<div class="controls">
						<input ng-model="UserID" type="text" placeholder="e.g. awesomeAuctionbaseUser">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Location</label>
					<div class="controls">
						<input ng-model="Location" type="text" placeholder="e.g. Palo Alto, CA">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Country</label>
					<div class="controls">
						<input ng-model="Country" type="text" placeholder="e.g. USA">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputEmail">&nbsp;</label>
					<div class="controls">
						<button type="submit" class="btn">Register</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>