<div style="clear:both" class="container">
	<div class="row">
		<div class="span6">
			<h3>Login</h3>
			<p>You can login to Auctionbase as any existing user. The username will be the same
			   as the password.</p>
			<form method="post">
				<div>
					<input type="text" placeholder="Username" name="username" id="username">
					<input type="password" placeholder="Password" name="password" id="password">
				</div>
				<div>
					<input class="btn" type="submit" name="Login">
				</div>
			</form>
		</div>
		<div class="span6">
			<h3>Registration</h3>
			<p>You can register as a new user in the database.</p>
		</div>
	</div>
</div>