header {
	height:64px;
}

.navbar {
	float:right;
	border:none;
	padding:0px;
	margin:0px;
}

.nav > li {
	height:40px;
	display:list-item;
	line-height:35px;
	border-top:4px solid white;
}

li.navbar_active {
	border-top:4px solid #4e87ee;
	font-weight:bold;
}

.navbar_inner {
	min-height:40px;
}

.category {
	width:100%;
	height:60px;
	margin-bottom:10px;
	border:1px solid #548df8;
	background: #f6f9fe; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6f9fe 0%, #dfebfb 47%, #c4daf8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f9fe), color-stop(47%,#dfebfb), color-stop(100%,#c4daf8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6f9fe 0%,#dfebfb 47%,#c4daf8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6f9fe 0%,#dfebfb 47%,#c4daf8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6f9fe 0%,#dfebfb 47%,#c4daf8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f6f9fe 0%,#dfebfb 47%,#c4daf8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f9fe', endColorstr='#c4daf8',GradientType=0 ); /* IE6-9 */
}

.category_small {
	width:100%;
	height:40px;
	margin-bottom:10px;
	border:1px solid #548df8;
	background: #f6f9fe; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6f9fe 0%, #dfebfb 47%, #c4daf8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f9fe), color-stop(47%,#dfebfb), color-stop(100%,#c4daf8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6f9fe 0%,#dfebfb 47%,#c4daf8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6f9fe 0%,#dfebfb 47%,#c4daf8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6f9fe 0%,#dfebfb 47%,#c4daf8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f6f9fe 0%,#dfebfb 47%,#c4daf8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f9fe', endColorstr='#c4daf8',GradientType=0 ); /* IE6-9 */
}

.category_tiles {
	text-align:center;
	padding-top:11px;
}

.category_title {
	font-size:18px;
	font-weight:bold;
}

.category_item_count {
	font-size:12px;
}

.footer {
	background-color:#f3f3f3;
	margin-top:20px;
	padding:20px;
}

.current_time {
	text-align:center;
}

.credits {
	font-size:10px;
	text-align:center;
}

.filter_panel {
	background-color:#d9e1fa;
	box-shadow:inset 0 0 2px #7b9af6;
	border-radius:10px;
}

.filter_panel_inner {
	padding-left:15px;
}

.bidtable>:first-child {
	background-color:#DFF0D8;
}

.es_box {
	padding:5px;
	margin-bottom:10px;
	box-shadow:inset 0 0 2px #7b9af6;
}

.item_current_price {
	font-size:14pt;
}

.item_buy_price {
	font-size:14pt;
}